
.nav ul {
	display: inline-block;
	list-style: none;
}

.main-nav ul {
  /* NOTE: We are by defualt hiding the main nav list because we are
      expecting the UI to be mobile, therefore our new icon menu
      takes its place. */
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
	width: 90%;
	background-color: #1F2328;
}


.main-nav:hover ul {
  display: block;
}
.main-nav ul li:hover a{
	background-color: #979FAD;

}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 1.5em;
	}
	body {
		margin-left: .5em;
		margin-right: .5em;
	}
	h3{
		margin-top: 2em;
		margin-bottom: .2em;
		background-color: #505662;
	}
	p {
		font-size: .8em;
	}
	h5 {
		margin: 0px;
	}
}

@media only screen and (min-width: 501px) and (max-width: 639px) {
	h1 {
		font-size: 2em;
	}
	body {
		margin-left: .5em;
		margin-right: .5em;
	}
	h3{
		margin-top: 2em;
		margin-bottom: .2em;
		background-color: #505662;
	}
	p {
		font-size: .8em;
	}
	h5 {
		margin: 0px;
	}
}

@media only screen and (min-width: 640px) {
  .main-nav {
    padding: .2em .2em .2em 2em;
		font-size: 1em;
  }

  .main-nav ul {
    display: block;
		width: 95%;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
  }

  .main-nav ul li:hover a {
    color: #29506D;
  }

	h1 {
		font-size: 3em;
	}
	h3 {
		font-size: 1.5em;
	}

}

@media only screen and (min-width: 800px) {
	h1 {
		font-size: 4em;
	}
}
